@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

$green : hsl(150, 100%, 60%);
$dark-grey : hsl(0, 0%, 5%);
$grey :hsl(0, 0%, 50%);
$light-grey :hsl(0, 5%, 90%);

$fw-900 : 900;
$fw-800 : 800;
$fw-700 : 700;
$fw-600 : 600;
$fw-500 : 500;
$fw-400 : 400;

$fs-3-5 : 3.5rem;
$fs-3 : 3rem;
$fs-2-5 : 2.5rem;
$fs-2 : 2rem;
$fs-1-5 : 1.5rem;
$fs-1 : 1rem;

p,
div {
    font-weight: $fw-400;
    font-size: $fs-1-5;
}
p {
    font-weight: $fw-600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.clock {
    width: 100%;
    height: 100%;
    padding: 20vh 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: $light-grey;
    transition: ease-in-out 0.25s;
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    user-select: none;
    &__toggle {
        width: 75px;
        height: 35px;
        position: relative;
        border-radius: 100px;
        background-color: $dark-grey;
        cursor: pointer;
        &--toggler {
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: calc(50% - 25px / 2);
            left: calc(25% - 25px / 2);
            border-radius: 100%;
            background-color: $light-grey;
            transition: left ease-in-out 0.25s;
            i {
                color: $dark-grey;
                font-size: 15px;
                transition: ease-in-out 0.25s;
            }
        }
    }
    &__datetime {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        color: $dark-grey;
        transition: ease-in-out 0.25s;
    }
    &__date {
        display: flex;
        justify-content: center;
        gap: 5px;
    }
    &__time {
        display: flex;
        justify-content: center;
        gap: 5px;
    }
}

.the-clock {
    width: 250px;
    height: auto;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 5px $dark-grey;
    border-radius: 100%;
    transition: border-color ease-in 0.25s;
    &::before {
        content: '';
        width: 15px;
        height: auto;
        aspect-ratio: 1/1;
        position: absolute;
        z-index: 1000;
        border-radius: 100%;
        background-color: $light-grey;
        transition: ease-in-out 0.25s;
    }
    svg {
        fill: $dark-grey;
    }
    &__seconds,
    &__minutes,
    &__hours {
        height: auto;
        aspect-ratio: 1/1;
        position: absolute;
        &--needle {
            width: inherit;
            height: inherit;
            aspect-ratio: inherit;
            display: flex;
            justify-content: center;
            position: absolute;
            &::before {
                content: '';
                position: absolute;
                border-radius: 100px 100px 0 0;
            }
        }
    }
    &__hours {
        width: 100px;
        &--needle {
            &::before {
                width: 6px;
                height: 50px;
                background-color: $grey;
                transition: ease-in-out 0.25s;
            }
        }
    }
    &__minutes {
        width: 125px;
        &--needle {
            &::before {
                width: 4px;
                height: 75px;
                background-color: $dark-grey;
                transition: ease-in-out 0.25s;
            }
        }
    }
    &__seconds {
        width: 175px;
        &--needle {
            &::before {
                width: 2px;
                height: 100px;
                background-color: $dark-grey;
                transition: ease-in-out 0.25s;
            }
        }
    }
}

.clock--dark {
    background-color: $dark-grey;
    .texts {
        &__toggle {
            background-color: $light-grey;
            &--toggler {
                left: calc(75% - 25px / 2);
                background-color: $dark-grey;
                i {
                    color: $green;
                }
            }
        }
        &__datetime {
            color: $light-grey;
        }
    }
    .the-clock {
        border-color: $light-grey;
        &::before {
            background-color: $light-grey;
        }
        svg {
            fill: $light-grey;
        }
        &__hours--needle::before {
            background-color: $grey;
        }
        &__minutes--needle::before {
            background-color: $light-grey;
        }
        &__seconds--needle::before {
            background-color: $green;
        }
    }
}